<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}"> 
{#        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" >  Import future css
#}    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src={{ asset("../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js")}}></script>
<script src={{ asset("../vendor/twbs/bootstrap/dist/js/bootstrap.min.js")}}></script>
{% block javascripts %}{% endblock %}
</body>
</html>
