{% extends 'base.html.twig' %}

{% block body %}
<section>

     {% for message in messages %}
     <h3>De:{{message.author}}</h3>
     <h3>{{message.text}}</h3>
          {% endfor %}
     {{form_start (formMess,{'attr':{'action':path('sendMessage')}})}}
     <input type="submit" name="" value="envoyer">
     {{form_end (formMess)}}
</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
